body {
    background-color: rgb(119, 113, 113);
color:black;

}

header{
color:black;

    text-align:center;
    display: inline-block;
}
header nav ul li{
    display: inline-block;
padding: 25px;

}

footer{text-align: center;
    background-color: aquamarine;

}
